<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewSR</servlet-name>
        <servlet-class>servlet.NewSR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSC</servlet-name>
        <servlet-class>servlet.NewSC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewS</servlet-name>
        <servlet-class>servlet.NewS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewQoso</servlet-name>
        <servlet-class>servlet.NewQoso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSP</servlet-name>
        <servlet-class>servlet.NewSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSR</servlet-name>
        <servlet-class>servlet.DeleteSR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSRStatut</servlet-name>
        <servlet-class>servlet.UpdateSRStatut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSC</servlet-name>
        <servlet-class>servlet.FindSC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewSR</servlet-name>
        <url-pattern>/NewSR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSC</servlet-name>
        <url-pattern>/NewSC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewS</servlet-name>
        <url-pattern>/NewS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewQoso</servlet-name>
        <url-pattern>/NewQoso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSP</servlet-name>
        <url-pattern>/NewSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSR</servlet-name>
        <url-pattern>/DeleteSR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSRStatut</servlet-name>
        <url-pattern>/UpdateSRStatut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSC</servlet-name>
        <url-pattern>/FindSC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
